﻿
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../../css/mailing.css" rel="stylesheet" />
</head>
<body>
    <div class="container-header">
        <img src="../../img/logo.png" alt="">
    </div>
    <div class="container-body">
        <div class="sub-container-body">
            <div class="titulo">
                <h3>Confirmación de separación</h3>
            </div>
            <div class="contenido">
                <h3>¡Hola {name}!</h3>
                <span class="font-weight">Tu código de *separacion es</span>
                <br>
                <div class="codigo-container">
                    C002000000132201
                </div>
            </div>
            <br>
            <div class="instruccion">
                Acércate  a la oficina designada y presenta este codigo para recoger tu producto.
            </div>
            <br>
            <br>
            <div class="ubicacion">
                <div class="titulos-ubicacion">
                    <div class="iconos">
                        <span><img src="../../img/ubicacion.png" alt=""></span>
                        <span><img src="../../img/horario.png" alt=""></span>
                    </div>
                    <div class="titulos-iconos">
                        <span> Agencia de recojo</span>
                        <span> Horario de atención</span>
                    </div>
                </div>
                <div class="descripcion-ubicacion">
                    <span>Lunes a Viernes : 8 am a 6pm</span>
                    <span class="interlineado">Av.Los industriales 341, San Borja. <br> Sábados: 10 am a 1 pm</span>
                </div>
            </div>
            <div class="ubicacion-xs">
                <div class="agencia">
                    <span class="agencia-titulo"><img src="../../img/ubicacion.png" alt=""> Agencia de recojo</span>
                    <span class="agencia-descripcion">Av.Los industriales 341, San Borja. <br> Sábados: 10 am a 1 pm</span>
                </div>
                <br>
                <div class="horario">
                    <span class="agencia-titulo"><img src="../../img/horario.png" alt=""> Horario de atención</span>
                    <span class="agencia-descripcion">Lunes a Viernes : 8 am a 6pm</span>
                </div>
            </div>
            <br>
            <div class="btn-imprimir">
                Imprimir
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="footer">
        *La separación del producto será valido por un plazo de 72 horas.
    </div>
</body>
</html>
